@using MSITTeam1Admin.ViewModels
@model backGrade
@{
    ViewData["Title"] = "Index";
}






<form id="sub">
    <table id="classgrade" class="table">
        <thead>
            <tr>
                <th>信箱</th>
                <th>課程外顯碼</th>
                <th>前測成績</th>
                <th>前測成績時間</th>
                <th>後測成績</th>
                <th>後測成績時間</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TClassGrade)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FAccountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FClassCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FBeforeClassGrade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FBeforeClassTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FAfterClassGrade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FAfterClassTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" id="classUP">上一頁</button>
    <input type="hidden" class="form-control" id="classpage" name="classpage" value="@ViewBag.classpage">
    <button type="submit" id="classDown">下一頁</button>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>信箱</th>
                <th>名字</th>
                <th>技能</th>
                <th>成績</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TSkillGrade)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FMemberName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FSkillCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FGrade)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" id="skillUP">上一頁</button>
    <input type="hidden" class="form-control" id="skillpage" name="skillpage" value="@ViewBag.skillpage">
    <button type="submit" id="skillDown">下一頁</button>
</form>

<script>
    const classup = document.querySelector("#classUP");
    const classdown = document.querySelector("#classDown");
    const skilup = document.querySelector("#skillUP");
    const skildown = document.querySelector("#skillDown");
    const classpage = document.querySelector("#classpage");
    const skillpage = document.querySelector("#skillpage");

    classup.addEventListener('click', (evt) => {
        evt.preventDefault();
        classpage.value = Number(classpage.value) - 3
        $('#sub').submit();
    })
    classdown.addEventListener('click', (evt) => {
        evt.preventDefault();
        classpage.value = Number(classpage.value) + 3
        $('#sub').submit();
    })
    skilup.addEventListener('click', (evt) => {
        evt.preventDefault();
        skillpage.value = Number(skillpage.value) - 3
        $('#sub').submit();
    })
    skildown.addEventListener('click', (evt) => {
        evt.preventDefault();
        skillpage.value = Number(skillpage.value)+3
        console.log(skillpage.value);
        $('#sub').submit();
    })
</script>