@using MSITTeam1.ViewModels
@model LearnMap
@{
    ViewData["Title"] = "Index";
}

@section Style {
    <link href='https://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <style>

        .grid {
            list-style: none;
            margin-left: -40px;
        }

        .gc {
            box-sizing: border-box;
            display: inline-block;
            margin-right: -0.25em;
            min-height: 1px;
            padding-left: 40px;
            vertical-align: top;
        }

        .gc--1-of-3 {
            width: 33.33333%;
        }

        .gc--2-of-3 {
            width: 66.66666%;
        }

        .naccs .menu div {
            padding: 15px 20px 15px 40px;
            margin-bottom: 10px;
            color: #777;
            background: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            position: relative;
            vertical-align: middle;
            font-weight: 700;
            transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
        }

            .naccs .menu div:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .naccs .menu div span.light {
                height: 10px;
                width: 10px;
                position: absolute;
                top: 24px;
                left: 15px;
                background-color: #1e3c84;
                border-radius: 100%;
                transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            .naccs .menu div span.textLight {
                color: #1e3c84;
                left: 0;
                height: 100%;
                width: 3px;
                top: 0;
                border-radius: 0;
            }

            .naccs .menu div.active span.light {
                background-color: #fff;
                left: 0;
                height: 100%;
                width: 3px;
                top: 0;
                border-radius: 0;
            }

            .naccs .menu div.active span.textLight {
                color: #fff;
                background-color: #1e3c84;
                left: 0;
                height: 100%;
                width: 3px;
                top: 0;
                border-radius: 0;
            }

            .naccs .menu div.active {
                background-color: #1e3c84;
                padding: 15px 20px 15px 20px;
            }

        ul.nacc {
            position: relative;
            height: 0px;
            list-style: none;
            margin: 0;
            padding: 0;
            transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
        }

            ul.nacc li {
                opacity: 0;
                transform: translateX(50px);
                position: absolute;
                list-style: none;
                transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
            }

                ul.nacc li.active {
                    transition-delay: 0.3s;
                    z-index: 2;
                    opacity: 1;
                    transform: translateX(0px);
                }

                ul.nacc li p {
                    margin: 0;
                }
    </style>
}



@{ var ClassName = "";
    var ClassCate = "";}


<div class="container-fluid py-5" style="background-color: #EFEFEF;">
    <div class="naccs container">
        <div class="grid">
            <div class="gc gc--1-of-3">
                <div class="menu d-block">
                    <div class="ActiveItem"><span class="light"></span><span class="textLight">創新應用網站開發工程師養成班</span></div>
                    <div class="ActiveItem"><span class="light"></span><span class="textLight">Wine</span></div>
                    <div class="ActiveItem"><span class="light"></span><span class="textLight">Lemonade</span></div>
                    <div class="ActiveItem"><span class="light"></span><span class="textLight">Lemonade</span></div>
                </div>
            </div>
            <div class="gc gc--2-of-3">
                <ul class="nacc">
                    <li class="ActiveIi w-100">
                        <div class="row">
                            <div class="col-md-6 d-block d-md-flex">
                                <div class="p-3 shadow mb-4 bg-white w-100">
                                    <h4 class="font-weight-bold mb-2 ">前端框架網站開發</h4>
                                    <hr />
                                    <h6 class="mb-2">◾ RSTful API & Ajax</h6>
                                    <h6 class="mb-2">◾ 網頁動態與UI技術</h6>
                                    <h6 class="mb-2">◾ JS 與 Node.js程式庫前後端整合</h6>
                                    <h6 class="mb-2">◾ HTML5 JavaScript APIs</h6>
                                    <h6 class="mb-2">◾ JavaScript Framework-React.js</h6>
                                </div>
                            </div>
                            <div class="col-md-6 d-block d-md-flex">
                                <div class="p-3 shadow mb-4 bg-white w-100">
                                    <h4 class="font-weight-bold mb-2 ">前端框架網站開發</h4>
                                    <hr />
                                    <h6 class="mb-2">◾ RSTful API & Ajax</h6>
                                    <h6 class="mb-2">◾ 網頁動態與UI技術</h6>
                                    <h6 class="mb-2">◾ JS 與 Node.js程式庫前後端整合</h6>
                                    <h6 class="mb-2">◾ HTML5 JavaScript APIs</h6>
                                    <h6 class="mb-2">◾ JavaScript Framework-React.js</h6>
                                    <h6 class="mb-2">◾ JavaScript Framework-React.js</h6>
                                    <h6 class="mb-2">◾ JavaScript Framework-React.js</h6>
                                    <h6 class="mb-2">◾ JavaScript Framework-React.js</h6>
                                </div>
                            </div>
                            <div class="col-md-6 d-block d-md-flex">
                                <div class="p-3 shadow mb-4 bg-white w-100">
                                    <h4 class="font-weight-bold mb-2 ">前端框架網站開發</h4>
                                    <hr />
                                    <h6 class="mb-2">◾ RSTful API & Ajax</h6>
                                    <h6 class="mb-2">◾ 網頁動態與UI技術</h6>
                                    <h6 class="mb-2">◾ JS 與 Node.js程式庫前後端整合</h6>
                                </div>
                            </div>
                            <div class="col-md-6 d-block d-md-flex">
                                <div class="p-3 shadow mb-4 bg-white w-100">
                                    <h4 class="font-weight-bold mb-2 ">前端框架網站開發</h4>
                                    <hr />
                                    <h6 class="mb-2">◾ RSTful API & Ajax</h6>
                                    <h6 class="mb-2">◾ 網頁動態與UI技術</h6>
                                    <h6 class="mb-2">◾ 網頁動態與UI技術</h6>
                                    <h6 class="mb-2">◾ JS 與 Node.js程式庫前後端整合</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>
                                2A vine (Latin vīnea "grapevine", "vineyard", from vīnum "wine") in the narrowest sense is the
                                grapevine (Vitis), but more generally it can refer to any plant with a growth habit of trailing or
                                scandent (that is, climbing) stems, lianas or runners.
                                The word also can refer to such stems or runners themselves, for instance when used in wicker
                                work.[1][2] In the United Kingdom, the term "vine" applies almost exclusively to the grapevine. The
                                term "climber" is used for all climbing plants.[3]
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>
                                3A vine (Latin vīnea "grapevine", "vineyard", from vīnum "wine") in the narrowest sense is the
                                grapevine (Vitis), but more generally it can refer to any plant with a growth habit of trailing or
                                scandent (that is, climbing) stems, lianas or runners.
                                The word also can refer to such stems or runners themselves, for instance when used in wicker
                                work.[1][2] In the United Kingdom, the term "vine" applies almost exclusively to the grapevine. The
                                term "climber" is used for all climbing plants.[3]
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>
                                4Lemonade is any of various sweetened beverages found around the world, all characterized by lemon
                                flavor. Most lemonade varieties can be separated into two distinct types: cloudy and clear; each is
                                known simply as "lemonade" (or a cognate) in countries
                                where dominant.[1] Cloudy lemonade, generally found in North America and India, is a traditionally
                                homemade drink made with lemon juice, water, and sweetener such as cane sugar or honey.[2] Found in
                                the United Kingdom, Ireland, South Africa, Australia,
                                and New Zealand, clear lemonade is a lemon flavoured carbonated soft drink. Not to be confused with
                                Sprite a lemon-lime flavored, soft drink.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



@*<div class="container-fluid bg-light py-5">
    <div class="naccs container">
        <div class="grid">
            @foreach (var item in Model.TStudioInformationleft)
            {
                @if (ClassName != item.FClassName)
                {
                    <div class="gc gc--1-of-3">
                        <div class="menu">
                            <div class=""><span class="light"></span><span class="textLight">@item.FClassName</span></div>
                        </div>
                    </div>
                    <div class="gc gc--2-of-3">
                        <ul class="nacc">
                            <li class="active w-100">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="p-3 shadow mb-3">
                                            @foreach (var item2 in Model.TStudioInformationleft)
                                            {
                                                @if (@item.FClassName == item2.FClassName && ClassCate != item2.FClassCategory)
                                                {

                                                    <h4 class="font-weight-bold">@item2.FClassCategory</h4>
                                                    @foreach (var item3 in Model.TStudioInformationleft)
                                                    {
                                                        @if (@item.FClassName == item2.FClassName && @item2.FClassCategory == item3.FClassCategory)
                                                        {
                                                            <h6><i class="fas fa-circle fa-xs">&nbsp;</i>@item3.FClassSkill</h6>
                                                        }
                                                    }
                                                    ClassCate = item2.FClassCategory;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    ClassName = item.FClassName;
                }
            }
        </div>
    </div>
</div>*@


@section Scripts {
    <script>
        // Acc
        $(".naccs .menu").find(".ActiveItem").first().addClass("active");
        $(".naccs ul").find(".ActiveIi").first().addClass("active");

        var listItemHeight = $(".naccs ul")
            .find(".ActiveIi").first()
            .innerHeight();
        $(".naccs ul").height(listItemHeight + "px");
        console.log("good");
        $(document).on("click", ".naccs .menu div", function () {
          
            var numberIndex = $(this).index();
            if (!$(this).is("active")) {
                $(".naccs .menu div").removeClass("active");
                $(".naccs ul li").removeClass("active");

                $(this).addClass("active");
                $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

                var listItemHeight = $(".naccs ul")
                    .find("li:eq(" + numberIndex + ")")
                    .innerHeight();
                $(".naccs ul").height(listItemHeight + "px");
            }
        });
    </script>
}