@model IEnumerable<MSITTeam1.ViewModels.CStudentResumeViewModel>


@*<link rel="stylesheet" type="text/css" href="/css/result-light.css">*@
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">
<style>


    .gu-mirror {
        filter: alpha(opacity=80);
        transform: skewX(-5deg) skewY(5deg);
    }

    .kanban-card {
        cursor: pointer;
    }

    body {
        margin: 10px;
    }

    .basicCss {
        padding-top: 20px;
    }

    .basicImage {
        text-align: center;
        background-color:#FFBD69;
        border-radius:0;
        padding-bottom: 25px;
    }

    .inputstyle {
        margin-bottom: 5px;
    }

    h4 {
        margin-bottom: 5px;
    }

    .cardBody {
        background-color: #FFBD69;
        margin:0px;
        border-radius:0;
        
    }

    .BigCard{
        margin:0;
        padding:0;
    }
</style>







<div id="kanban" class="row">
    @foreach (var item in Model)
    {
    <div class="col-4  BigCard">
        <div class="panel panel-info">
            <div class="panel-heading kanban-card">
                <h3 class="panel-title">產生履歷</h3>
            </div>

            <div class="panel-body ">
                <div id="todo">
                    &nbsp;
                    <div class="alert alert-success kanban-card cardBody" id="basic" role="alert">
                        
                                <div class="basicCss">
                                    <h4> 基本資料</h4>
                                    <div class="inputstyle">
                                        <label>@Html.DisplayNameFor(model => model.fName)</label>
                                        <span>@Html.DisplayFor(modelItem => item.fName)</span>
                                    </div>
                                    <div class="inputstyle">
                                        <label> @Html.DisplayNameFor(model => model.fGender)</label>
                                        <span>@Html.DisplayFor(modelItem => item.fGender)</span>
                                    </div>
                                    <div class="inputstyle">
                                        <label> @Html.DisplayNameFor(model => model.fBirthDate)</label>
                                        <span>@Html.DisplayFor(modelItem => item.fBirthDate)</span>
                                    </div>
                                    <div class="inputstyle">
                                        <label> @Html.DisplayNameFor(model => model.fEmail)</label>
                                        <span>@Html.DisplayFor(modelItem => item.fEmail)</span>
                                    </div>
                                    <div class="inputstyle">
                                        <label> @Html.DisplayNameFor(model => model.fPhone)</label>
                                        <span>@Html.DisplayFor(modelItem => item.fPhone)</span>
                                    </div>
                                    <div class="inputstyle">
                                        <label> @Html.DisplayNameFor(model => model.fAddress)</label>
                                        <span>
                                            @Html.DisplayFor(modelItem => item.fCity)
                                            @Html.DisplayFor(modelItem => item.fDistrict)
                                            @Html.DisplayFor(modelItem => item.fAddress)
                                        </span>
                                    </div>
                                </div>

                            <div class="inputstyle">
                                <span>@Html.DisplayFor(modelItem => item.fAutobiography)</span>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 BigCard">
        <div class="panel panel-info ">
            <div class="panel-heading kanban-card">
                <h3 class="panel-title invisible">111</h3>
            </div>
            <div class="panel-body ">
                <div id="mid">
                    &nbsp;
                    <div class="">
                         <div class="basicImage">
                              <img class="mt-5 mb-3" src="~/images/student/@item.fPortrait" width="200" height="150" />
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="col-1 BigCard"></div>
    <div class="col-3 BigCard">
        <div class="panel panel-info">
            <div class="panel-heading kanban-card">
                <h3 class="panel-title">資料</h3>
            </div>
            <div class="panel-body ">
                <div id="done">
                    &nbsp;

                </div>
            </div>
        </div>
    </div>
</div>







<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js">
    import { data } from "jquery";
</script>
<script>
      var dragulaCards = dragula([
      document.querySelector('#todo'),
      document.querySelector('#mid'),
      document.querySelector('#done')
    ]);

    dragulaCards.on('drop', function(el, target, source, sibling){
      console.log(source); // from
      console.log(target); // to
      console.log(sibling); // next card
    });

    var dragulaKanban = dragula([
      document.querySelector('#kanban')
    ], {
      moves: function(el, container, handle) {
        return handle.classList.contains('panel-title');
      }
    });

    var parent = document.querySelector('#done');

    $.ajax({
            url: '@Url.Content("~/StudentResume/ReturnWorkCount")',
            method:'post',
            dataType:'json',
            success: function (datas) {
                for(var row in datas){

                    var div = document.createElement("div");
                    div.role="alert";
                    div.innerHTML= "公司名稱 :"+ datas[row].companyName + "工作部門 :"+ datas[row].companyDepartment +"<br/>"
                                   +"職位名稱 :"+ datas[row].jobTitle +"<br/>"+ "開始時間 :"+ datas[row].employmentFrom +"<br/>"
                                   +"結束時間 :"+ datas[row].employmentTo  +"<br/>"+ "內容描述 :"+ datas[row].JobDescription ;

                    div.setAttribute("class", "alert alert-success kanban-card cardBody");
                    parent.appendChild(div);

                }
                ;
            }
        }).done((data) => {
            console.log(data)
        })




    //div.addClass('alert alert-success kanban-card')
    //div.class="alert alert-success kanban-card";
    //a="<div class=\"alert alert-success kanban-card\" >Card20</div>"
    //parent.html(a);

</script>











