@model IEnumerable<MSITTeam1.ViewModels.CTestPaperViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="auto-container">
    @{
        if (Model == null)
        {
            <form>
                <div class="row py-4 justify-content-center align-items-center">
                    <div class="col-md-4">
                        <div class="row justify-content-center">
                            <div class="">
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text justify-content-center" style="min-width:75px;">帳號</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" name="txtaccount" placeholder="請輸入帳號">
                                </div>
                            </div>
                            @*<span class="input-group-text" id="inputGroup-sizing-default">帳號</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">*@
                        </div>
                        <div class="row justify-content-center">
                            <div class="">
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">識別碼</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" name="txtidentify" placeholder="請輸入識別碼">
                                </div>
                            </div>
                            @*<span class="input-group-text" id="inputGroup-sizing-default">識別碼</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">*@
                        </div>
                    </div>
                    <div class="ml-0 ml-md-3 ml-lg-0">
                        <input class="btn-style-two mt-3" type="submit" name="createpaper" value="確定" />
                    </div>
                </div>
            </form>
        }
    }
    @{
        if (Model != null)
        {
            <div class="py-4 ">
                <div class="row bg-beige justify-content-center p-1 p-md-4 py-3 text-center">
                    <div class="py-1 col-md-12 col-lg-6"><h4>課程名稱 : @ViewBag.Classname</h4></div>
                    <div class="py-1 col-md-6 col-lg-3"><h4>帳號 : @ViewBag.Account</h4></div>
                    <div class="py-1 col-md-6 col-lg-3"><h4>驗證碼 : @ViewBag.Identify</h4></div>
                </div>
            </div>
            int count = 1;
            int tcount = 1;
            int topicId = 0;
            foreach (var item in Model)
            {
                if (topicId != item.fQuestionID)
                {
                    <h5 class="my-2 mt-3 font-weight-bold">@tcount. @Html.DisplayFor(modelItem => item.fQuestion)</h5>
                    topicId = item.fQuestionID;
                    tcount++;
                }

                <div>
                    <input type="radio" id="@count" name="@item.fQuestionID" value="@item.fCorrectAnswer">
                    <label for="@count" class="@item.fCorrectAnswer" style="font-size:18px;"> @item.fChoice</label>
                </div>
                count++;
            }

            <br />
            <br />
            <div class="sec-title text-center">
                <button class="btn-style-two mt-3" type="submit" id="button1">送出</button>
            </div>
        }
    }
    <form method="post" name="grade">
        <div id="div1" class="alert alert-info"></div>
    </form>
</div>

<script>
    const btn = document.querySelector("#button1");
    const createpaper = document.querySelector("#createpaper");
    const divAlert = document.querySelector("#div1");

    @*btn.addEventListener('click', (evt) => {
        evt.preventDefault();
        @{ 
            if()
        }
    })*@











             btn.addEventListener('click', (evt) => {
                 evt.preventDefault();
                 var anscount = 0
                 var count = 0
         @{
             if (Model != null)
             {
             int id = 0;
             foreach (var item in Model)
             {
                 if (id != item.fQuestionID)
                 {
                 @:var a = $('input[name=@item.fQuestionID]:checked').val();
                 @:if (1 == a) { anscount++; }
                 @:count++
                 id = item.fQuestionID;
                     }
                 }
             }
          }
                 divAlert.innerHTML = Math.round((anscount / count) * 100)
                 $('input').attr('disabled', 'true')
                 btn.style.display='none';
    })

    @*btn.addEventListener('click', (evt) => {
        evt.preventDefault();
        const formData = new FormData(document.grade);
        fetch('@Url.Action("Grade", "Grade")', {
            method: 'POST',
            body: FormData
        }).then(Response => Response.text())
                .then(data => divAlert.innerHTML = data)

          //btn.style.display='none';
      })*@
</script>

