@model IEnumerable<MSITTeam1.Models.TClassTestPaper>
@{
    ViewData["Title"] = "Index";
}

<div class="auto-container">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">帳號</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span class="input-group-text" id="inputGroup-sizing-default">識別碼</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button type="button" class="btn btn-outline-primary">確定</button>
    </div>
    <form method="post" name="grade">
        @{
            int topicId = 0;
            foreach (var item in Model)
            {
                if (topicId != item.TopicId)
                {
                    <h3>@Html.DisplayFor(modelItem => item.TopicId). @Html.DisplayFor(modelItem => item.Topic)</h3>
                    topicId = item.TopicId;
                }
                @Html.RadioButton($"{item.TopicId}", $"{item.ChoseAnswer}")<span style="font-size:18px;"> @item.ChoseAnswer</span>
                <br />
            }
        }
        <br />
        <br />
        <div class="sec-title text-center">
            <button class="btn btn-primary" type="submit" id="button1">送出</button>
        </div>
    </form>
</div>

<script>
    const btn = document.querySelector("#button1");
    btn.addEventListener('click', (evt) => {
        evt.preventDefault();
        /*const formData = new FormData(document.grade);*/
        @*fetch('@Url.Action("Grade", "Grade")', {
            method: 'POST',
            body: FormData
        }).then(Response => Response.text())
                .then(data => divAlert.innerHTML = data)
      *@
          btn.style.display='none';
      })
</script>

