@model IEnumerable<MSITTeam1.ViewModels.CTestPaperViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="auto-container">
    <div class="row py-4 justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="row justify-content-center">
                <div class="">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text justify-content-center" style="min-width:75px;">帳號</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="請輸入帳號">
                    </div>
                </div>
                @*<span class="input-group-text" id="inputGroup-sizing-default">帳號</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">*@
            </div>
            <div class="row justify-content-center">
                <div class="">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">識別碼</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="請輸入識別碼">
                    </div>
                </div>
                @*<span class="input-group-text" id="inputGroup-sizing-default">識別碼</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">*@
            </div>
        </div>
        <div class="ml-0 ml-md-3 ml-lg-0">
            <a class="btn-style-two mt-3" href="#"><span>確定</span></a>
        </div>

    </div>
    @{
        int count = 1;
        int tcount = 1;
        int topicId = 0;
        foreach (var item in Model)
        {
            if (topicId != item.fQuestionID)
            {
                <h3>@tcount. @Html.DisplayFor(modelItem => item.fQuestion)</h3>
                topicId = item.fQuestionID;
                tcount++;
            }
            <input type="radio" id="@count" name="@item.fQuestionID" value="@item.fCorrectAnswer"><label for="@count" style="font-size:18px;"> @item.fChoice</label>
            <br />
            count++;
        }
    }
    <br />
    <br />
    <div class="sec-title text-center">
        <button class="btn btn-primary" type="submit" id="button1">送出</button>
    </div>
    <form method="post" name="grade">
        <div id="div1" class="alert alert-info"></div>
    </form>
</div>

<script>
    const btn = document.querySelector("#button1");
    const divAlert = document.querySelector("#div1");
             btn.addEventListener('click', (evt) => {
                 evt.preventDefault();
                 var anscount = 0
                 var count = 0
         @{
             int id = 0;
             foreach (var item in Model )
             {
                 if (id != item.fQuestionID)
                 {
                 @:var a = $('input[name=@item.fQuestionID]:checked').val();
                 @:if (1 == a) { anscount++ }
                 @:count++
                 id = item.fQuestionID;
                 }
             }
          }
                 divAlert.innerHTML = Math.round((anscount / count) *100)
             //btn.style.display='none';
    })

    @*btn.addEventListener('click', (evt) => {
        evt.preventDefault();
        const formData = new FormData(document.grade);
        fetch('@Url.Action("Grade", "Grade")', {
            method: 'POST',
            body: FormData
        }).then(Response => Response.text())
                .then(data => divAlert.innerHTML = data)

          //btn.style.display='none';
      })*@
</script>

