@model IList<MSITTeam1.ViewModels.CTestPaperBankViewModel>
@addTagHelper*,MSITTeam1

@section Style{ 

}

<div class="container">
    <p>
        <a asp-action="Create">新增試卷</a>
    </p>
    <div style="margin:20px">
        @{ 
            if(Model != null)
			{
                int paperId = 0;
                foreach(var item in Model)
				{
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.DisplayFor(modelItem => item.FTestPaperName)
                            </h4>
                            <input type="hidden" value="@Html.DisplayFor(modelItem => item.FTestPaperId)" />
                            <div class="tab-pane active">
                                <div class="p-10">
                                    <h5>
                                        @Html.DisplayFor(modelItem => item.FNote)
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
				}
			}
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FDesignerAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FTestPaperName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FSubjectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FNote)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FDesignerAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FTestPaperName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FSubjectId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FNote)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FTestPaperId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.FTestPaperId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.FTestPaperId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>