@model IList<MSITTeam1.ViewModels.CTestPaperBankViewModel>
@addTagHelper*,MSITTeam1

@section Style{
    <link rel="stylesheet" href="~/css/fontawesome-all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/QuestionBankStyleSheet.css" />

<style>
    .card{
        height:190px;
        padding:15px !important;
    }
    .card:hover{
        box-shadow:  5px 10px 30px rgb(0 0 0 / 50%);
    }
    .card-title {
        text-align: center !important;
    }
    p, .text{
        line-height:1.6em !important;
        font-size:14px;
        text-indent:2em;
        height:65px;
        overflow:auto;
    }
    .p-3{
        padding:3px !important;
    }
    .creator{
        color:darkblue;
        text-align:right;
        font-size:14px !important;
    }
   
</style>
}

<div class="container">
    <p>
        <a asp-action="Create">新增試卷</a>
    </p>
    <div style="margin:20px">
        <div class="row justify-content-around align-items-center">
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        @Html.DisplayFor(modelItem => item.FTestPaperName)
                                    </h4>
                                    <input type="hidden" value="@Html.DisplayFor(modelItem => item.FTestPaperId)" />
                                    <div class="tab-pane active">
                                        <div class="p-3">
                                            <p>
                                                @Html.DisplayFor(modelItem => item.FNote)
                                            </p>
                                            <br />
                                            <h6 class="creator">
                                                <span>創建者：</span>
                                                @Html.DisplayFor(modelItem => item.FDesignerAccount)
                                            </h6>
                                        </div>

                                        <div class="editBlock">
                                            <a asp-action="Edit" asp-route-id="@item.FTestPaperId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.FTestPaperId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.FTestPaperId">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://your-site-or-cdn.com/fontawesome/v6.1.1/js/all.js" data-auto-replace-svg="nest"></script>


}