@addTagHelper *, MSITTeam1
@model IEnumerable<MSITTeam1.ViewModels.CCompanyBasicViewModel>

<link href="~/css/Edit.css" rel="stylesheet">

@foreach (var item in Model)
{
    <div>
        <label>@Html.DisplayNameFor(model => model.FBan)：</label>
        <span>@Html.DisplayFor(modelItem => item.FBan)</span>
    </div>
    <div>
        <label for="FBan"> @Html.DisplayNameFor(model => model.FContactPerson)：</label>
        <span>@Html.DisplayFor(modelItem => item.FContactPerson)</span>
    </div>
    <div>
        <label for="FBan"> @Html.DisplayNameFor(model => model.FPhone)：</label>
        <span>(0@(@Html.DisplayFor(modelItem => item.FPhoneCode)))-@Html.DisplayFor(modelItem => item.FPhone)</span>
    </div>
    <div>
        <label for="FBan"> @Html.DisplayNameFor(model => model.FFax)：</label>
        <span>(0@(@Html.DisplayFor(modelItem => item.FFaxCode)))-@Html.DisplayFor(modelItem => item.FFax)</span>
    </div>
    <div>
        <label for="FBan"> @Html.DisplayNameFor(model => model.FAddress)：</label>
        <span>@Html.DisplayFor(modelItem => item.FCity)@Html.DisplayFor(modelItem => item.FDistrict)@Html.DisplayFor(modelItem => item.FAddress)</span>
    </div>
    <div>
        <label for="FBan"> @Html.DisplayNameFor(model => model.FEmail)：</label>
        <span>@Html.DisplayFor(modelItem => item.FEmail)</span>
    </div>

    <button class="btn-style-two" type="button" data-toggle="modal" data-target="#staticBackdrop">修改資料</button>
    @*<vc:company-basic-edit id="@ViewBag.Account"></vc:company-basic-edit>*@
}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改資料</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                good
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
