@model IEnumerable<MSITTeam1.ViewModels.CStudentResumeViewModel>
<style>
    th {
        white-space: nowrap;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                編號:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyDepartment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmploymentFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmploymentTo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobDescription)
                    </td>
                    <td>
                        <button  id="showWork">修改</button>
                        <button class="saveworkbtn my-3" id="deleteWork">刪除</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>


    $('#table tbody').on('click','#showWork',function(){
        var currow = $(this).closest('tr');
        var col1 = currow.find('td:eq(1)').text();
        var col2 = currow.find('td:eq(2)').text();
        var col3 = currow.find('td:eq(3)').text();
        var col4 = currow.find('td:eq(4)').text();
        var col5 = currow.find('td:eq(5)').text();
        alert(col1+col2+col3+col4+col5);
   })


</script>

