@model IEnumerable<MSITTeam1.ViewModels.CStudentResumeViewModel>
<style>
    th {
        white-space: nowrap;
    }

</style>

<table class="table">
    <thead>
        <tr>
            <th>
                編號:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
        </tr>
    </thead>
    <tbody>
@{
    int count = 0;
    foreach (var item in Model)
    {
        count++;
        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentTo)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>

            </td>
        </tr>
        }
    }
    </tbody>
</table>