@model IEnumerable<MSITTeam1.ViewModels.CProductViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <form class="form-group row justify-content-center py-4">
        <div class="col-md-5">
            <div class="input-group input-group-rounded">
                <input type="text" placeholder="請輸入產品關鍵字" name="txtKeyword" class="form-control">
                <span class="input-group-btn"><button class="btn btn-primary btn-group-right" type="submit"><i class="fas fa-search"></i></button></span>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImgPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Barcode)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        <img src="~/images/upload/@item.ImgPath" width="300" height="300" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Barcode)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>