@addTagHelper *, MSITTeam1
@model List<MSITTeam1.ViewModels.TJobVacanciesViewModel>

@{
    ViewData["Title"] = "Index";
}
@section Style{
    <link rel="stylesheet" href="~/css/JobSearchList.css" />
    <style>
        .box {
            width: 300px;
            /*padding: 10px;*/
            /*border: #4caf50 2px solid;*/
        }

        .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /*多少行數之後才開始省略*/
            -webkit-box-orient: vertical;
            white-space: normal;
        }
    </style>
}

<main>
    <div class="container">
        <form name="searchBar">
            <div class="form-group row justify-content-center py-4">
                <div class="col-md-4">
                    <div class="input-group input-group-rounded">
                        <input type="text" placeholder="Java, C#, BigData..." name="txtSearchText" class="form-control">
                        <span class="input-group-btn"><button class="btn btn-primary btn-group-right" type="submit"><i class="fas fa-search"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>職缺類型：</label>
                    <select class="form-control" id="selectJobDirect" name="ddlJobListId">
                        <option value="" style="display:none" selected>全選</option>
                    </select>
                </div>
                <div class="col-6">
                    <label>地區：</label>
                    <select class="form-control" id="selectCity" name="ddlCity">
                        <option value="" selected>全選</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <div class="filter-tags-c">
                    <ul id="filter-tags-list"></ul>
                    <p class="clear-tags" id="js-clear-tags"> Clear</p>
                </div>
            </div>
        </div>
        <div class="row job-all-list">
            <ul class="col-12" id="job-list">
                @{
                    int rowCount = 0;

                }
                @foreach (var item in Model)
                {
                    rowCount++;
                    int rowNumber = rowCount;
                    var lastModifyTime = (DateTime.Now - item.FModifyTime).Days.ToString();
                    <li class="job-card new featured" style="align-items:stretch">
                        <div class="job-card__info">
                            <div class="d-md-flex">
                                <div class="img-c">
                                    <img src="~/images/company/@item.FCompanyLogo" />
                                </div>
                                <div style="width:85%">
                                    <form name="jobListInfo">
                                        <a href="javascript:void(0)">
                                            <h6 name="@item.FJobName">@item.FJobName</h6>
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <p>@item.FCompanyName</p>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <p>@item.FJobDirect</p>
                                        </div>
                                        <div>
                                            <p class="ellipsis">@item.FOther</p>
                                        </div>
                                        <ul>
                                            <li>@(lastModifyTime)天前更新</li>
                                            <li>@item.FEmployeeType</li>
                                            <li>@item.FWorkExp</li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="info-section col-4 d-flex flex-column justify-content-between">
                            <div>
                                <div class="location-section">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <span class="middot">
                                        <abbr title="@(item.FCity + item.FDistrict + item.FWorkAddress)">@(item.FCity + item.FDistrict + item.FWorkAddress)</abbr>
                                    </span>
                                </div>
                                <div class="number-for-hire-section">
                                    <i class="fa fa-user"></i>
                                    <abbr title="需求人數">10</abbr>
                                </div>
                                <div class="job-salary-section">
                                    <i class="fas fa-dollar-sign"></i>
                                    <span class="job-salary">@(item.FSalaryMin) ~ @(item.FSalaryMax) TWD/月</span>
                                </div>
                            </div>
                            <div class="justify-content-end">
                                <form>
                                    <input type="hidden" name="txtJobName" asp-for="@item.FJobName" />
                                    <input type="hidden" name="txtCompanyTaxid" asp-for="@item.FCompanyTaxid" />
                                    <button type="submit" asp-action="Detail" class="btn btn-info m-b-10 m-l-5 btn-for-Detail">檢視職缺</button>
                                    <button type="button" class="btn btn-info m-b-10 m-l-5 applyButton" data-toggle="modal" data-target="#jobModel@(rowNumber)" onclick="GetResumeData(@(rowNumber))">我要應徵</button>
                                </form>
                                <!-- 修改Modal -->
                                <div class="modal fade" id="jobModel@(rowNumber)" tabindex="-1" aria-labelledby="ProductEditModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ProductEditModalLabel">學員求職信</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <vc:job-apply job-name="@item.FJobName" company-taxid="@item.FCompanyTaxid" row-count="@rowNumber"></vc:job-apply>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                <li class="job-card new featured" style="align-items:stretch">
                    <div class="job-card__info">
                        <div class="d-md-flex">
                            <div class="img-c">
                                <img src="@*http://projects.lollypop.design/job-listing/photosnap.svg*@" />
                            </div>
                            <div style="width:85%">
                                <a href="javascript:void(0)">
                                    <h6>Senior Frontend Developer</h6>
                                </a>
                                <div class="d-flex align-items-center">
                                    <p>台北吳先生有限公司</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p>.Net工程師</p>
                                </div>
                                <div>
                                    <p class="ellipsis">無所不架JA.anything是設計相關小型工作室，製作項目包含網頁設計、app製作、網路遊戲、影音特效剪輯等。</p>
                                </div>
                                <ul>
                                    <li>1d ago</li>
                                    <li>Full Time</li>
                                    <li>USA Only</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-section col-4">
                        <div>
                            <div class="location-section">
                                <i class="fa fa-map-marker-alt"></i>
                                <span class="middot">
                                    <a href="/jobs?refinementList%5Border%5D=&amp;refinementList%5Blocation_list%5D%5B0%5D=404%E5%8F%B0%E7%81%A3%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8C%97%E5%8D%80"><abbr>404台灣台中市北區</abbr></a>
                                </span>
                            </div>
                            <div class="number-for-hire-section">
                                <i class="fa fa-user"></i>
                                <abbr title="需求人數">10</abbr>
                            </div>
                        </div>
                        <div class="job-salary-section">
                            <i class="fas fa-dollar-sign"></i>
                            <span class="job-salary">68K&nbsp;~&nbsp;154K&nbsp;TWD/月</span>
                        </div>
                    </div>
                </li>
                <li class="job-card new featured">
                    <div class="job-card__info">
                        <div class="d-md-flex align-items-center">
                            <div class="img-c">
                                <img src="@*http://projects.lollypop.design/job-listing/manage.svg*@" />
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <p>Manage</p>
                                    <p class="tag-new">New!</p>
                                    <p class="tag-featured">Featured</p>
                                </div>
                                <a href="javascript:void(0)">
                                    <h6>Fullstack Developer</h6>
                                </a>
                                <ul>
                                    <li>1d ago</li>
                                    <li>Part Time</li>
                                    <li>Remote</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-section col-4">
                        <div>
                            <div class="location-section">
                                <i class="fa fa-map-marker-alt"></i>
                                <span class="middot">
                                    <a href="/jobs?refinementList%5Border%5D=&amp;refinementList%5Blocation_list%5D%5B0%5D=404%E5%8F%B0%E7%81%A3%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8C%97%E5%8D%80"><abbr>404台灣台中市北區</abbr></a>
                                </span>
                                <span class="middot">
                                    <a href="/jobs?refinementList%5Border%5D=&amp;refinementList%5Blocation_list%5D%5B0%5D=221%E5%8F%B0%E7%81%A3%E6%96%B0%E5%8C%97%E5%B8%82%E6%B1%90%E6%AD%A2%E5%8D%80"><abbr>221台灣新北市汐止區</abbr></a>
                                </span>
                            </div>
                            <div class="number-for-hire-section">
                                <i class="fa fa-user"></i>
                                <abbr title="需求人數">10</abbr>
                            </div>
                        </div>
                        <div class="job-salary-section">
                            <i class="fas fa-dollar-sign"></i>
                            <span class="job-salary">68K&nbsp;~&nbsp;154K&nbsp;TWD/月</span>
                        </div>
                    </div>
                </li>
                <li class="job-card new">
                    <div class="job-card__info">
                        <div class="d-md-flex align-items-center">
                            <div class="img-c">
                                <img src="@*http://projects.lollypop.design/job-listing/account.svg*@" />
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <p>Account</p>
                                    <p class="tag-new">New!</p>
                                    <p class="tag-featured">Featured</p>
                                </div>
                                <a href="javascript:void(0)">
                                    <h6>Junior Frontend Developer</h6>
                                </a>
                                <ul>
                                    <li>2d ago</li>
                                    <li>Part Time</li>
                                    <li>USA Only</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="job-card__tags">
                        <li>Frontened</li>
                        <li>Junior</li>
                        <li>React</li>
                        <li>Sass</li>
                        <li>JavaScript</li>
                    </ul>
                </li>
                <li class="job-card">
                    <div class="job-card__info">
                        <div class="d-md-flex align-items-center">
                            <div class="img-c">
                                <img src="@*http://projects.lollypop.design/job-listing/myhome.svg*@" />
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <p>MyHome</p>
                                    <p class="tag-new">New!</p>
                                    <p class="tag-featured">Featured</p>
                                </div>
                                <a href="javascript:void(0)">
                                    <h6>Junior Frontend Developer</h6>
                                </a>
                                <ul>
                                    <li>5d ago</li>
                                    <li>Contract</li>
                                    <li>USA Only</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="job-card__tags">
                        <li>Frontened</li>
                        <li>Junior</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </li>
                <li class="job-card">
                    <div class="job-card__info">
                        <div class="d-md-flex align-items-center">
                            <div class="img-c">
                                <img src="@*http://projects.lollypop.design/job-listing/loop-studios.svg*@" />
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <p>Loop Studios</p>
                                    <p class="tag-new">New!</p>
                                    <p class="tag-featured">Featured</p>
                                </div>
                                <a href="javascript:void(0)">
                                    <h6>Software Engineer</h6>
                                </a>
                                <ul>
                                    <li>1w ago</li>
                                    <li>Full Time</li>
                                    <li>Worldwide</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="job-card__tags">
                        <li>FullStack</li>
                        <li>Midweight</li>
                        <li>JavaScript</li>
                        <li>Sass</li>
                        <li>Ruby</li>
                    </ul>
                </li>
                <li class="job-card">
                    <div class="job-card__info">
                        <div class="d-md-flex align-items-center">
                            <div class="img-c">
                                <img src="@*http://projects.lollypop.design/job-listing/faceit.svg*@" />
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <p>FaceIt</p>
                                    <p class="tag-new">New!</p>
                                    <p class="tag-featured">Featured</p>
                                </div>
                                <a href="javascript:void(0)">
                                    <h6>Senior Frontend Developer</h6>
                                </a>
                                <ul>
                                    <li>2w ago</li>
                                    <li>Full Time</li>
                                    <li>UK only</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="job-card__tags">
                        <li>Backend</li>
                        <li>Junior</li>
                        <li>Ruby</li>
                        <li>RoR</li>
                    </ul>
                </li>
                <li class="job-card">
                    <div class="job-card__info">
                        <div class="d-md-flex align-items-center">
                            <div class="img-c">
                                <img src="@*http://projects.lollypop.design/job-listing/shortly.svg*@" />
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <p>Shotly</p>
                                    <p class="tag-new">New!</p>
                                    <p class="tag-featured">Featured</p>
                                </div>
                                <a href="javascript:void(0)">
                                    <h6>Junior Developer</h6>
                                </a>
                                <ul>
                                    <li>1w ago</li>
                                    <li>Full Time</li>
                                    <li>Worldwide</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="job-card__tags">
                        <li>Frontened</li>
                        <li>Junior</li>
                        <li>HTML</li>
                        <li>Sass</li>
                        <li>JavaScript</li>
                    </ul>
                </li>
                <li class="job-card">
                    <div class="job-card__info">
                        <div class="d-md-flex align-items-center">
                            <div class="img-c">
                                <img src="@*http://projects.lollypop.design/job-listing/insure.svg*@" />
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <p>Insure</p>
                                    <p class="tag-new">New!</p>
                                    <p class="tag-featured">Featured</p>
                                </div>
                                <a href="javascript:void(0)">
                                    <h6>Junior Frontend Developer</h6>
                                </a>
                                <ul>
                                    <li>1w ago</li>
                                    <li>Full Time</li>
                                    <li>USA Only</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="job-card__tags">
                        <li>Frontened</li>
                        <li>Junior</li>
                        <li>Vue</li>
                        <li>Javascript</li>
                        <li>Sass</li>
                    </ul>
                </li>
                <li class="job-card">
                    <div class="job-card__info">
                        <div class="d-md-flex align-items-center">
                            <div class="img-c">
                                <img src="@*http://projects.lollypop.design/job-listing/eyecam-co.svg*@" />
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <p>Eyecam Co.</p>
                                    <p class="tag-new">New!</p>
                                    <p class="tag-featured">Featured</p>
                                </div>
                                <a href="javascript:void(0)">
                                    <h6>Senior Frontend Developer</h6>
                                </a>
                                <ul>
                                    <li>1w ago</li>
                                    <li>Full Time</li>
                                    <li>Worldwide</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="job-card__tags">
                        <li>Fullstack</li>
                        <li>Midweight</li>
                        <li>Javascipt</li>
                        <li>Django</li>
                        <li>Python</li>
                    </ul>
                </li>
                <li class="job-card">
                    <div class="job-card__info">
                        <div class="d-md-flex align-items-center">
                            <div class="img-c">
                                <img src="@*http://projects.lollypop.design/job-listing/the-air-filter-company.svg*@" />
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <p>The Air Filter Company</p>
                                    <p class="tag-new">New!</p>
                                    <p class="tag-featured">Featured</p>
                                </div>
                                <a href="javascript:void(0)">
                                    <h6>Frontend Developer</h6>
                                </a>
                                <ul>
                                    <li>1mo ago</li>
                                    <li>Part Time</li>
                                    <li>Worldwide</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="job-card__tags">
                        <li>Frontened</li>
                        <li>Junior</li>
                        <li>React</li>
                        <li>Sass</li>
                        <li>Javascript</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="ProductPagination" class="row my-4"></div>
    </div>
</main>
@section Scripts{

    @*套用版面的原生js*@
    <script src="~/js/JobSearchList.js"></script>

    @*頁面底部換頁*@
    <script>
        $(function () {
            initPagination('.job-all-list', 10, '#ProductPagination')
        });
    </script>

    @*透過ajax載入DropDownList*@
    <script>
        let selectJobDirect = document.querySelector('#selectJobDirect');
        let selectCity = document.querySelector('#selectCity');

        $.ajax({
            url: '@Url.Content("~/TJobVacancies/JobDirectDropDownList")',
            method:'post',
            dataType:'json',
            success: function (datas) {
                datas.forEach((item) => {
                    let opt = new Option(item.fJobDirect, item.jobListId);
                    selectJobDirect.options.add(opt);
                });
            }
        }).done((data) => {
            console.log(data)
        })

        $.ajax({
            url: '@Url.Content("~/TJobVacancies/CityDropDownList")',
            method:'post',
            dataType:'json',
            success: function (datas) {
                datas.forEach((item) => {
                    let opt = new Option(item, item);
                    selectCity.options.add(opt);
                });
            }
        }).done((data) => {
            console.log(data);
        })
    </script>
    <script>
        function GetResumeData(rowNumber) {
            let selectResume = document.querySelector(`#selectResume${rowNumber}`);
            selectResume.options.length = 0;
                $.ajax({
                    url: "@Url.Content("~/TJobVacancies/ResumeDropDownList")",
                    method: 'post',
                    dataType: 'json',
                    success: function (datas) {
                        datas.forEach((item) => {
                            let opt = new Option(item.resumeName, item.resumeId);
                            selectResume.options.add(opt);
                        });
                    }
                }).done((data) => {
                    console.log(data);
                })
                console.log(rowNumber);
        }
    </script>
    @*<script defer>
            let selectResume = document.querySelector("#selectResume");

            $(".applyButton").click(function () {
                $.ajax({
                    url: "@Url.Content("~/TJobVacancies/ResumeDropDownList")",
                    method: 'post',
                    dataType: 'json',
                    success: function (datas) {
                        datas.forEach((item) => {
                            let opt = new Option(item.resumeName, item.resumeId);
                            selectResume.options.add(opt);
                        });
                    }
                }).done((data) => {
                    console.log(data);
                })
            })
        </script>*@
    @*<script>

            $(".btn-for-Detail").click(() => {
                let formTag = $(this).parentsUntil('ul').find('form');
                let formData = new FormData(formTag);

                $.ajax({
                    url: '@Url.Content("~/TJobVacancies/Detail")',
                    method: 'post',
                    data: formData,
                    success: (e) => {
                        console.log("success")
                    }
                })
            })
        </script>*@
}
