<!DOCTYPE html>
<html lang="en">
<head>
    @{
        string date = DateTime.Now.ToString("MMdd");
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MSITTeam1</title>
    <link href="~/css/bootstrap.css?@date" rel="stylesheet">
    <link href="~/plugins/revolution/css/settings.css?@date" rel="stylesheet" type="text/css">
    <!-- REVOLUTION SETTINGS STYLES -->
    <link href="~/plugins/revolution/css/layers.css?@date" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="~/plugins/revolution/css/navigation.css?@date" rel="stylesheet" type="text/css">
    <!-- REVOLUTION NAVIGATION STYLES -->


    <link href="~/css/style.css?@date" rel="stylesheet">
    <link href="~/css/responsive.css?@date" rel="stylesheet">

    
    @await RenderSectionAsync("Style", required: false)

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body onload="username">

    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <header class="main-header header-style-two fixed-top">
            <!-- Header Top -->
            <div class="header-top">
                <div class="auto-container">
                    <div class="clearfix">
                        <div class="top-left">
                            <ul class="info-list clearfix">
                                <li>
                                    <a href="tel:6668880000"><span class="fa fa-phone-square"></span> </a>
                                </li>
                                <li>
                                    <a href="mailto:iservice@ispan.com.tw"><span class="fa fa-envelope"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                                </li>
                                <!-- <li><a href="#"><span class="fab fa-twitter"></span></a></li> -->
                                <li>
                                    <a href="#"><span class="fab fa-youtube"></span></a>
                                </li>
                            </ul>
                        </div>

                        <div class="top-right">
                            <!-- link Box -->

                            <div class="link-box" id="usernamebox">
                                <a href="~/Student_Login" id="username"><i class="fas fa-user-graduate text-light"></i> &nbsp;學員登入</a>&nbsp;&nbsp;&nbsp;
                                <a href="~/Company_Login" id="username1"><i class="fas fa-briefcase text-light"></i> &nbsp;企業登入</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top -->
            <!-- Header Upper -->
            <div class="header-lower ">
                <div class="auto-container auto-container-header clearfix">
                    <!--Info-->
                    <div class="logo-outer">
                        <div class="logo">
                            <a asp-controller="Index" asp-action="Index"><img src="~/images/logo.png" alt="" title=""></a>
                        </div>
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="color-blue fas fa-bars fa-lg mb-3"></i>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li>
                                        @*<a href="~/AboutUs">關於我們</a>*@
                                        @Html.ActionLink("關於我們", "AboutUs", "Home")
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle-title" href="#">學員專區</a>
                                        <ul>
                                            <li>
                                                <a href="events.html">就業養成班</a>
                                            </li>
                                            <li>
                                                <a href="events.html">近期說明會</a>
                                            </li>
                                            <li>
                                                <a href="events.html">學員須知</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Content("~/StudentResume/create")">履歷製作</a>
                                            </li>
                                            <li>
                                                <a href="event-detail.html">職缺搜尋</a>
                                            </li>
                                            <li>
                                                <a href="event-detail.html">心得分享</a>
                                            </li>
                                        </ul>
                                        <div class="dropdown-btn">
                                            <span class="fa fa-angle-down"></span>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle-title" href="#">企業專區</a>
                                        <ul>
                                            <li>
                                                <a href="events.html">在職進修班</a>
                                            </li>
                                            <li>
                                                <a href="events.html">企業會員專案</a>
                                            </li>
                                            <li>
                                                <a href="events.html">企業包班</a>
                                            </li>
                                            <li>
                                                <a href="events.html">場地租借</a>
                                            </li>
                                            <li>
                                                <a href="event-detail.html">媒合活動</a>
                                            </li>
                                            <li>
                                                <a href="event-detail.html">刊登職缺</a>
                                            </li>
                                            <li>
                                                <a href="event-detail.html">徵才專區</a>
                                            </li>
                                            <li>
                                                <a href="event-detail.html">題庫及試卷</a>
                                            </li>
                                        </ul>
                                        <div class="dropdown-btn">
                                            <span class="fa fa-angle-down"></span>
                                        </div>
                                    </li>
                                    @*<li class="dropdown">
                                            <a class="dropdown-toggle-title" href="#">在職進修班</a>
                                            <ul>
                                                <li><a href="index.html">Home page 01</a></li>
                                                <li><a href="index-2.html">Home page 02</a></li>
                                                <li class="current dropdown">
                                                    <a class="dropdown-toggle-title"
                                                       href="#">Header Styles</a>
                                                    <ul>
                                                        <li><a href="index.html">Header Style One</a></li>
                                                        <li><a href="index-2.html">Header Style Two</a></li>
                                                    </ul>
                                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                                </li>
                                            </ul>
                                            <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                        </li>*@
                                    <li class="dropdown">
                                        <a class="dropdown-toggle-title" href="#">測試平台</a>
                                        <ul>
                                            <li>@Html.ActionLink("前後課堂測試", "Index", "Grade")</li>
                                            <li><a href="event-detail.html">技能綜合測試</a></li>
                                        </ul>
                                        <div class="dropdown-btn">
                                            <span class="fa fa-angle-down"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="about.html">資展小物兌換</a>
                                    </li>
                                    <li>
                                        <a href="about.html">服務據點</a>
                                    </li>
                                    <li>
                                        <a href="about.html">學習地圖</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                    </div>
                </div>
            </div>
            <!--End Header Upper-->

        </header>
        @RenderBody()


        <!--Main Footer-->
        <footer class="main-footer">

            <!--Scroll to top-->
            <div class="go-top scroll-to-target" data-target="html">
                <span class="icon icon-arrow-up"></span>
            </div>

            <!--footer upper-->
            <div class="footer-upper">
                <div class="auto-container">
                    <!-- <div class="row clearfix"> -->
                    <!--Big Column-->
                    <div class="big-column">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column  col-lg-5 col-md-5 col-sm-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="index.html"><img src="~/images/photo/footerLOGO.png" alt="" /></a>
                                    </div>
                                    <div class="text">
                                        以專業與跨域人才培育，縮短產學落差，提升人才素質。
                                        <br>以創新與前瞻學習服務，擴大產學合作，增能數位轉型。
                                    </div>

                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-4 col-md-4 col-sm-12">
                                <div class="footer-widget contact-widget">
                                    <h4 class="widget-title">聯繫方式</h4>
                                    <div class="widget-content">
                                        <ul class="contact-info">
                                            <li>
                                                <a href="tel:0266316588">
                                                    <span class="fa fa-phone-square"></span>(02)
                                                    6631-6588(台北窗口)
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailto:iservice@ispan.com.tw">
                                                    <span class="fa fa-envelope"></span>iservice@ispan.com.tw
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank"
                                                   href="https://www.google.com.tw/maps/place/106%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8C%BA%E5%BE%A9%E8%88%88%E5%8D%97%E8%B7%AF%E4%B8%80%E6%AE%B5390%E8%99%9F2%E6%A8%93/@@25.0339098,121.5435566,19z/data=!4m5!3m4!1s0x3442abd3781b82e1:0xc0508038c1566f21!8m2!3d25.0339145!4d121.543412?hl=zh-TW&authuser=0">
                                                    <span class="fa fa-map"></span>台北市復興南路一段390號2樓<br>(大安捷運站4號、6號出口)
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Footer Column-->
                            <div class="footer-column col-lg-3 col-md-3 col-sm-12">
                                <div class="footer-widget contact-widget">
                                    <h4 class="widget-title">相關連結</h4>
                                    <ul class="social-icon-colored">
                                        <li>
                                            <a target="_blank" href="https://www.facebook.com/IIIDEITaipei">
                                                <span class="fab fa-facebook-f"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank"
                                               href="https://www.youtube.com/channel/UCObZbQQVeVvznp9TIPkqIPA">
                                                <span class="fab fa-youtube"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <!-- <ul class="social-icon-colored">
                        <li><a href="https://www.facebook.com/IIIDEITaipei"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="https://www.youtube.com/channel/UCObZbQQVeVvznp9TIPkqIPA"><span class="fab fa-youtube"></span></a></li>
                    </ul> -->
                    <div class="copyright">
                        <a href="" title="chinaz">資展國際股份有限公司 &copy; All Rights Reserved.</a>
                        <br>
                        <a href="https://www.ispan.com.tw/privacypolicy">服務條款及隱私權保護政策</a>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Main Footer-->

    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!--Revolution Slider-->
    <script src="~/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/js/main-slider-script.js"></script>
    <!--Revolution Slider-->
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/jquery.countdown.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/js/Resumebar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        //js會自動main-header的高度，使body的padding-top會等於此刻main-header的高度
        var onResize = function () {
            $("body").css("padding-top", $(".main-header").height());
        };
        $(window).resize(onResize);
        $(function () {
            onResize();
        });


            //$(function () {
            //    $.ajax({
            //        type: "post",
            //        url: "Login/getLoginName",
            //        dataType: "text",
            //        success: function (result) {
            //            if (result != "")
            //                document.getElementById("username").innerHTML = "<a asp-controller='會員中心' asp-action='Index'></a>&nbsp;&nbsp;<a asp-controller='login' asp-action='Index'>登出</a>";
            //        }
            //    });
            //});


        $(function()
        {
            @*console.log("@ViewBag.account");
            if ("@ViewBag.Name"=="未填寫" && "@ViewBag.Type" == "1") {
                Swal.fire("即將跳轉頁面", "請先填寫基本資料", "info",);
                setTimeout("location.href='../SMemberCenter/Index'", 2000);
            }
            if ("@ViewBag.Name" == "親愛的用戶" && "@ViewBag.Type" == "2") {
                Swal.fire({
                    icon: 'info',
                    title: '請先填寫基本資料',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    window.open('@Url.Content("~/CMemberCenter/CompanyInformationEdit/")@ViewBag.account')
                })}*@

            if ("@ViewBag.account" != "")
            {
                if ("@ViewBag.Type" == "1") {
                    $("#username").attr("href", "../SMemberCenter/Index")
                } else if ("@ViewBag.Type" == "2") {
                    $("#username").attr("href", "../CMemberCenter/Index")
                }
                $("#username").text("會員中心")
                $("#username1").attr("href", "../Logout/Index")
                $("#username1").text("登出")
            }
        });
    </script>
</body>
</html>
