@model IList<MSITTeam1.ViewModels.CQuestionBankViewModel>

@{
    ViewData["Title"] = "Edit";
}
@section Style{

    <style>
        #checkBox1{
            margin:5px;
        }
    </style>
}
<div class="container" style="padding:20px;">
    <div>
        <h1>題目編輯</h1>
        <h4>題目內容</h4>
        <hr />
    </div>

    <div>
        @{
            if (Model != null)
            {
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            @*<div class="form-group">
                                    <label asp-for="FQuestionImage" class="control-label"></label>
                                        <input asp-for="FQuestionImage" class="form-control" />
                                        <span asp-validation-for="FQuestionImage" class="text-danger"></span>
                                    <input type="file" name="photo" class="form-control" />
                                </div>*@
                            <div class="form-group">
                                <label class="control-label" asp-for="@Model[0].FSubjectId"></label>
                                @Html.DropDownList("Subjects", (IEnumerable<SelectListItem>)ViewBag.subjectItems, "請選擇類別", new { @class = "form-control" })
                                <span asp-validation-for="@Model[0].FSubjectId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label id="test1" class="control-label" asp-for="@Model[0].FQuestion"></label>
                                <input asp-for="@Model[0].FQuestion" class="form-control">
                                <span asp-validation-for="@Model[0].FQuestion" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model[0].FQuestionTypeId" class="control-label"></label>
                                @*<input asp-for="@Model[0].FQuestionTypeId" class="form-control" />*@
                                <select id="FQuestionTypeId" asp-for="@Model[0].FQuestionTypeId" class="form-control">
                                    <option value="1">單選題</option>
                                    <option value="2">多選題</option>
                                    <option value="3">填空題</option>
                                </select>
                                <span asp-validation-for="@Model[0].FQuestionTypeId" class="text-danger"></span>
                            </div>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                if (Model[i].FSubjectId == Model[0].FSubjectId && Model[i].FQuestionId == Model[0].FCQuestionId)
                                {
                                    <div class="form-group">
                                        @Html.HiddenFor(modelItem => Model[i].FSn)
                                        @Html.HiddenFor(modelItem => Model[0].FSubjectId)
                                        @Html.HiddenFor(modelItem => Model[0].FCSubjectId)
                                        @Html.HiddenFor(modelItem => Model[0].FQuestionId)
                                        @Html.HiddenFor(modelItem => Model[0].FCQuestionId)
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="correctAns" asp-for="@Model[i].FCorrectAnswer" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@Model[i].FChoice" class="control-label"></label>
                                        <br />
                                        <input id="checkBox1" type="checkbox" name="FCorrectAnswer" onclick="doCheck(this)" />
                                        <input asp-for="@Model[i].FChoice" class="form-control" />
                                        <span asp-validation-for="@Model[i].FChoice" class="text-danger"></span>
                                    </div>

                                }
                            }

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                            <div>
                                <a asp-action="List">返回題目列表</a>
                            </div>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var a = $('.correctAns').val();
        console.log(a);
    </script>
}
