@model IList<MSITTeam1.ViewModels.CQuestionBankViewModel>

@{
    ViewData["Title"] = "List";
}
<div class="container" style="padding:20px;">
    <h1>題目列表</h1>

    <p>
        <a asp-action="Create">新增題目</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].FSubjectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].FQuestionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].FQuestion)
                </th>
                <th>
                    選項
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].FQuestionTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].FLevel)
                </th>
                <th>編輯</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FSubjectId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FQuestionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FQuestion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FChoice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FQuestionTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FLevel)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { subjectID = item.FSubjectId, questionID = (int)item.FQuestionId,choice =item.FChoice }) |
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>