@model IList<MSITTeam1.ViewModels.CQuestionBankViewModel>

@{
    ViewData["Title"] = "List";
}

@section Style{ 
    <style>
        td {
            vertical-align: middle !important;
        }
    </style>
}
<div class="container" style="padding:20px;">
    <h1>題目列表</h1>

    <p>
        <a asp-action="Create">新增題目</a>
    </p>
    <table class="table table-bordered table-hover" id="quesTable" style="text-align:center;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].FSubjectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].FQuestionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].FQuestion)
                </th>
                <th>
                    選項
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].FQuestionTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].FLevel)
                </th>
                <th>編輯</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCSubjectId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCQuestionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FQuestion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FChoice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FQuestionTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FLevel)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { subjectID = item.FSubjectId, questionID = (int)item.FQuestionId,choice =item.FChoice }) |
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
@section Scripts{ 
    <script>
        function mergeCell(tableId, cols) {
            var table = document.getElementById(tableId);
            var table_rows = table.rows;

            cols.forEach((v, k) => {
                for (let i = 0; i < table_rows.length - 1; i++) {
                    let currRow = table_rows[i];
                    let nextRow = table_rows[i + 1];

                    let currCol = currRow.cells[v];
                    let nextCol = nextRow.cells[v];

                    if (currCol.innerHTML == nextCol.innerHTML) {
                        $(nextCol).addClass('remove');
                        setParentSpan(table, i, v);
                    }
                }
            })
            $(".remove").remove();
        }

        function setParentSpan(table, row, col) {
            var colItem = table.rows[row].cells[col];
            if ($(colItem).hasClass('remove')) {
                setParentSpan(table, --row, col)
            } else {
                colItem.rowSpan += 1;
            }
        }
        mergeCell('quesTable', [0, 1,2]);
    </script>
}