@model IEnumerable<MSITTeam1.ViewModels.CQuestionBankViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>題目列表</h1>

<p>
    <a asp-action="Create">新增題目</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.questionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.question)
            </th>
            <th>
                選項
            </th>
            <th>
                @Html.DisplayNameFor(model => model.questionType)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.questionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.question)
                </td>
                <td>
                    <ol>
                        <li>item1</li>
                        <li>item2</li>
                        <li>item3</li>
                    </ol>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.questionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.level)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { subjectID = item.subject, questionID = (int)item.questionId }) |
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
