@model IEnumerable<MSITTeam1.Models.TQuestionList>

@{
    ViewData["Title"] = "List";
}

<h1>題目列表</h1>

<p>
    <a asp-action="Create">新增題目</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQuestionImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQuestionTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FQuestionImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FQuestionTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FUpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FLevel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { subjectID = item.FSubjectId, questionID = (int)item.FQuestionId }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
