@model IList<MSITTeam1.ViewModels.CQuestionBankViewModel>

@{
    ViewData["Title"] = "List";
}
<div class="container" style="padding:20px;">
    <h1>題目列表</h1>

    <p>
        <a asp-action="Create">新增題目</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Vsubject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].VquestionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Vquestion)
                </th>
                <th>
                    選項
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].VquestionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Vlevel)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vsubject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VquestionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vquestion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vchoice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VquestionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vlevel)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { subjectID = item.Vsubject, questionID = (int)item.VquestionId }) |
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>